.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#coolButton{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
#coolButton:hover{
  transition: 1s linear;
  background-color: #FA6432;
  filter: drop-shadow(0 0 10px #FA6432) drop-shadow(0 0 40px #FA6432)
  contrast(1.8) brightness(1.8);
}
#coolButton2{
  -webkit-transition: filter 1s;
  transition: background-color 1s linear;
}
#coolButton2:hover{
  transition: 1s;
  color: #FFF0DC;
  background-color: #B43C00;
}

.secondSection{
  box-shadow: inset 0 10px 10px -10px black;

}

.borderedStep{
   -webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
   transition: all 1s ease-out;
}
.borderedStep:hover{
  background-color: #FE6A2C;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  transition: 0.5s linear;
}

.question{
  transition: 0.7s;
}

.card{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;

}
.card:hover{
  background-color: #FE6A2C;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.headingText{
  padding: 1rem;
}

.qnaButton{
  border: 0px;
  transition: all 1s ease-out;
}
.qnaButton:hover{
  border:1px solid black;
  background-color: #DC4F09;
  color: white;

}


@media (max-width: 768px) {
  .logoBox {
    display: none;
  }
  .welcomeContent{
    margin:1rem
  }
  .buttonsContainer{
    display: flex;
    flex-direction: column;
  }
  .coolButtons{
    margin: 1rem;
    margin-top: 0.5rem;
  }
  .firstSection{
    height: 100%;
  }
  .secondSection{
    height: 100%;
  }
  .welcomeHuge{
    font-size: 2rem;
    line-height: 1;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .headingText{
    font-size: 2rem;
  }

  .smallPara{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .ChangeToCol{
    flex-direction: column;
    padding: 0;
  }
  
 

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Slider*/

.container {
  max-width: 1200px;
  width: 95%;
}
.slider-wrapper {
  position: relative;
  scroll-snap-type: x mandatory;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
/*  margin-bottom: 15px;*/
  padding-top: 15px;
  padding-bottom: 15px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
  scroll-snap-type: x mandatory;
}
.slider-wrapper .image-list .image-item {
/*  width: 325px;*/
  width: 17rem;
  height: 25rem;
/*  height: 400px;*/
  object-fit: cover;
  scroll-snap-align: center;
}
.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
